/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / .header-con
3. Banner / .banner-con
4. Categories / .categories-con
5. About Us / .about-us-con
6. Featured Dishes / .featured-dishes-con
7. Our Menu  / .our-menu-con
8. Testimonials / .testimonials-con
9. Reserve a table / .reserve-table-con
10. Footer / .footer-con
*/
/*------------------------------------------------------------------
# [Color Codes]

#primary--color: #42cc65;
#black--color: #000000;
#secondary--color: #ffffff;
#text--color: #45455d;
#accent--color: #ff5001;
#navy--color: #01224f;
#navy--family--color: #6e6e8a;
#blue--family--color: #87a0c2;
#bg--color: #f7f9ff;

*/
/*------------------------------------------------------------------
# [Typography]

Body copy: "Barlow", sans-serif;
Headings: "Playfair Display", serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Playfair+Display:ital,wght@0,400..900;1,400..900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
button input {
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

figure {
    margin: 0;
}

body {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--text--color);
    font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

span.error {
    font-family: "Barlow", sans-serif;
}

:root {
    --primary--color: #42cc65;
    --black--color: #000000;
    --secondary--color: #ffffff;
    --text--color: #45455d;
    --accent--color: #ff5001;
    --navy--color: #01224f;
    --navy--family--color: #6e6e8a;
    --blue--family--color: #87a0c2;
    --bg--color: #f7f9ff;
    --white--family--color: #e6ebf9;
}

/* BG OUTER WRAPPER */

.bg-outer-wrapper::before {
    left: 0;
    top: 0;
    /* width: 809px; */
    width: 43%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url(../images/ellipse.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
    background-position: right;
}

.bg-outer-wrapper {
    height: auto;
}

/* HEADER SECTION */
.header-con .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: var(--navy--color);
    font-weight: 400;
    padding: 10px 0 !important;
    position: relative;
}

.header-con .navbar-light .navbar-nav .nav-link.active {
    color: var(--accent--color);
}

.header-con .navbar-light .navbar-nav .nav-link:hover {
    color: var(--accent--color);
}

.header-con .navbar-expand-lg .navbar-nav {
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.header-con {
    z-index: 5;
    padding: 46px 0 30px;
}

.header-con .navbar {
    padding: 0;
}


.header-con .navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.header-con .navbar-light .navbar-nav .nav-link::before {
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    content: '';
    position: absolute;
    background: var(--accent--color);
    transition: ease-in-out 0.3s;
}

.header-con .navbar-light .navbar-nav .dropdown .nav-link:hover::after {
    width: 0;
}

.header-con .navbar-light .navbar-nav .dropdown .nav-link::after {
    width: unset;
    position: absolute;
    background: none;
    top: 23px;
    font-size: 15px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu {
    padding: 10px 0;
    margin: 0;
    background-color: var(--secondary--color);
    border: 0;
    z-index: 2;
    width: 230px;
    margin-top: 10px;
    /* box-shadow: 0px 0px 100px rgb(0 0 0 / 15%); */
    box-shadow: 0 6px 38px rgb(213 213 243 / 60%);
    border-radius: 4px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu a:last-child {
    border-bottom: none;
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    padding: 7px 25px;
    border-bottom: 1px solid var(--secondary--color);
    color: var(--navy--color);
    font-size: 18px;
    line-height: 25px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:active,
.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover,
.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

.header-con .navbar-light .navbar-brand {
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */
/* BACK TO TOP BUTTON */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: var(--accent--color);
    color: white;
    cursor: pointer;
    width: 80px;
    height: 80px;
    -webkit-animation: spineer 2s infinite;
    animation: spineer 2s infinite;
    border-radius: 14px;
}

.header-contact .contact-btn {
    min-width: 136px;
    background-color: var(--accent--color);
    border: 1px solid transparent;
    color: var(--secondary--color);
    height: 47px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    z-index: 1;
}

.header-contact .contact-btn:hover {
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.header-contact li.icon-listing a:hover {
    background-color: var(--accent--color);
}

.header-contact li.icon-listing a:hover img {
    filter: brightness(0%) invert(100%);
}


.header-contact {
    margin-left: 21px;
}

.header-contact li.btn-listing {
    margin-left: 16px;
}

.header-contact li.icon-listing a {
    background-color: var(--secondary--color);
    border-radius: 100px;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 41px;
    margin: 0 4px;
    box-shadow: 0 6px 8px rgb(149 163 207 / 8%);
}

#back-to-top-btn:focus {
    outline: none;
}

@-webkit-keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(255, 15, 15, .99);
    }

    to {
        box-shadow: 0 0 0 45px rgb(24, 63, 60, .01);
    }
}

@keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(255, 15, 15, .99);
    }

    to {
        box-shadow: 0 0 0 45px rgb(24, 63, 60, .01);
    }
}

#back-to-top-btn::after {
    font-size: 18px;
    font-weight: 600;
    content: "\f062";
    line-height: 50px;
    color: var(--secondary--color);
    font-family: "Font Awesome 5 free";
}


#back-to-top-btn:hover {
    cursor: pointer;
}

/* BACK TO TOP BUTTON */
/* LOADER SECTION */
.loader-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
}

.loader {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    position: absolute;
    text-indent: -9999em;
    display: inline-block;
    margin: -25px 0 0 -25px;
    color: var(--primary--color);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader div {
    top: 0;
    left: 0;
    opacity: .5;
    float: none;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--primary--color);
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

.loader div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Form Span Error Styling */
span.error {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    color: red;
    font-weight: 400;
    text-align: left;
}

/* 404 page styling start here */
.error-section,
.coming-soon-con {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.error-con {
    position: relative;
    z-index: 2;
}

.error-con h2 {
    font-size: 170px;
    line-height: 165px;
    margin-bottom: 32px;
}

.error-con p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 28px;
}

.error-con .secondary-button a i {
    margin-left: 4px;
}

.error-con .secondary-button a {
    min-width: 220px;
}

.error-con h4 {
    margin-bottom: 22px;
}

/* COMING SOON PAGE */
.coming-soon-con .new-logo {
    margin-bottom: 40px;
}

.coming-soon-con h1 {
    margin-bottom: 48px;
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
}

.coming-soon-con h2 {
    margin-bottom: 20px;
}

/* coming soon countdown timer styling */
.compaign_countdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.compaign_countdown ul li {
    float: left !important;
    width: auto;
    margin: 0;
    text-align: center;
    margin: 0 13px;
    min-height: 133px;
    min-width: 133px;
    background-color: var(--accent--color);
    padding: 16px;
    color: var(--secondary--color);
    font-size: 22px;
    font-weight: 300;
    border-radius: 5px;
}

.compaign_countdown ul li:first-child {
    margin-left: 0;
}

.compaign_countdown ul li:last-child {
    margin-right: 0;
}

.compaign_countdown ul li span.days,
.compaign_countdown ul li span.hours,
.compaign_countdown ul li span.minutes,
.compaign_countdown ul li span.seconds {
    display: block;
    color: var(--secondary--color);
    width: auto;
    font-size: 60px;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Montserrat", system-ui;
    line-height: 70px;
    border-radius: 5px;
    font-weight: 700;
}

.compaign_countdown {
    margin: 0 auto;
    width: 70%;
}

.coming-soon-con {
    flex-grow: 1;
    min-height: 100vh;
}

.error-banner,
.coming-soon-con {
    flex-grow: 1;
}

/* .coming-soon-con * {
    color: var(--secondary--color);
} */
/* SEARCH FORM */

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: transparent;
    border-top: none;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    outline: none;
    padding: 10px;
}

#search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    content: "\f00d";
    background-image: url('../images/close.html');
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: 1;
    font-size: 27px;
    color: #fff;
}

#search .close:hover {
    color: var(--primary--color);
    cursor: pointer;
    text-shadow: none;
}

/* BANNER SECTION */
.banner-con .banner-content-con span {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 25px;
}

.banner-con {
    padding-top: 80px;
    padding-bottom: 93px;
}

.banner-con .carousel-indicators {
    left: -136px;
    margin: 0;
    right: unset;
    padding: 0;
    top: 27%;
}

.banner-con .carousel-indicators li:first-child {
    left: 25px;
    margin-top: 0;
}

.banner-con .carousel-indicators li:last-child {
    left: 33px;
    margin-bottom: 0;
}

.banner-con .carousel-indicators li::before,
.banner-con .carousel-indicators li::after {
    display: none;
}

.banner-con .carousel-indicators li {
    width: 89px;
    height: 89px;
    background: transparent;
    opacity: 1;
    margin: 24px 0;
    border-radius: 100%;
    cursor: pointer;
}

.banner-con .carousel-control-prev,
.banner-con .carousel-control-next {
    display: none;
}


.banner-con .carousel-indicators li.active img {
    border: 2px solid var(--accent--color);
}

.banner-con .carousel-indicators figure {
    position: relative;
}

.banner-con .carousel-indicators figure img {
    position: absolute;
    left: 0;
    border: 2px solid transparent;
    border-radius: 100%;
}


.banner-con .carousel-item img {
    border-radius: 100%;
}

.banner-con .carousel-indicators {
    display: block !important;
}

.banner-con .banner-content-con span::before {
    left: 240px;
    top: 22px;
    width: 74px;
    height: 2px;
    content: '';
    position: absolute;
    background: var(--navy--color);
    transition: ease-in-out 0.3s;
}

.banner-con .banner-content-con h1 span {
    font-size: 100px;
    line-height: 77px;
}

.banner-con .col-lg-5.col-md-5 {
    padding-right: 5px;
}

.banner-con .banner-content-con p {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 18px;
}

.banner-con .banner-content-con .elementary-button {
    margin-right: 15px;
}

.banner-con .off-tag {
    background-image: url(../images/orange-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 148px;
    width: 148px;
    right: 30px;
    position: absolute;
    font-size: 43px;
    line-height: 40px;
    text-align: right;
    padding: 32px 25px;
}

.banner-con .span-off {
    font-size: 26px;
}

/* CATEGORIES SECTION */
.categories-con .vector {
    right: 0;
    top: 100px;
}

.categories-con .category-box {
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px 47px;
}

.categories-con .category-box.var1::before,
.categories-con .category-box.var2::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url(../images/overlay1.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

.categories-con .category-box.var3::before,
.categories-con .category-box.var4::before {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url(../images/overlay2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

.categories-con .category-box.var1 {
    background-image: url(../images/category-food-img1.jpg);
}

.categories-con .category-box.var2 {
    background-image: url(../images/category-food-img2.jpg);
}

.categories-con .category-box.var3 {
    background-image: url(../images/category-food-img3.jpg);
}

.categories-con .category-box.var4 {
    background-image: url(../images/category-food-img4.jpg);
}

.categories-con .primary-button a {
    min-width: 130px;
    height: 44px;
    line-height: 42px;
}

.categories-con .category-box p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 22px;
}

.categories-con .category-box .category-content {
    width: 200px;
}

.categories-con .col-lg-6.col-md-6 {
    margin-bottom: 30px;
}

.categories-con .col-lg-6.col-md-6:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.categories-con .category-box h3 {
    margin-bottom: 13px;
}

/* special */
.heading-title-con p {
    font-size: 20px;
    line-height: 33px;
}

.heading-title-con h2 {
    margin-bottom: 12px;
}

.heading-title-con {
    margin-bottom: 60px;
}

/* ABOUT US SECTION STYLING */
.about-us-con .elipse2 {
    right: -120px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.about-us-con .about-us-content {
    padding-right: 55px;
}

.about-us-con .about-us-content p {
    margin-bottom: 18px;
}

.about-us-con .abt-service-box {
    background-color: var(--secondary--color);
    padding: 23.5px 36px;
    border-radius: 5px;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    transition: ease-in-out 0.5s;
}

.about-us-con .abt-service-box:hover {
    background-color: var(--primary--color);
}

.about-us-con .abt-service-box:hover * {
    color: var(--secondary--color);
}

.about-us-con .abt-service-box:hover img {
    filter: brightness(0%) invert(100%);
}

.about-us-con .about-services {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 24px;
}

.about-us-con .about-services img {
    margin-bottom: 16px;
}

.about-us-con .about-services span {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

/* FEATURE DISH SECTION */
.feature-dish-box {
    background-color: var(--secondary--color);
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    border-radius: 5px;
    transition: ease-in-out 0.6s;

}

.feature-dish-box img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.featured-dishes-con .tabs-box ul li a {
    color: var(--text--color);
    font-size: 22px;
    font-weight: 500;
}

.featured-dishes-con .tabs-box ul li a:hover {
    text-decoration: none;
}

.featured-dishes-con .tabs-box ul li a.active {
    color: var(--accent--color);
}

.featured-dishes-con .tabs-box ul li:has(a.active) {
    border-left: 3px solid var(--accent--color);
}

.featured-dishes-con .tabs-box ul li {
    padding: 15px 0;
    padding-left: 25px;
    border-left: 3px solid var(--white--family--color);
    border-radius: 1.5px;
}

.featured-dishes-con .feature-dish-box .dish-content {
    padding: 30px 16px 17px;
}

.featured-dishes-con .dish-content p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.featured-dishes-con .feature-dish-box .dish-content h4 {
    margin-bottom: 12px;
}

.featured-dishes-con .feature-dish-box .plus-icon-box {
    right: 0;
    bottom: 0;
    width: 57px;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--accent--color);
    text-align: center;
}

.featured-dishes-con .feature-dish-box:hover .plus-icon-box {
    background-color: var(--primary--color);
}


.featured-dishes-con .feature-dish-box .plus-icon-box img {
    text-align: center;
    padding: 15px 0;
}

/* OUR MENU SECTION */
.our-menu-con .vector {
    left: 0;
    top: -175px;
}

.our-menu-con .menu-box {
    background-color: var(--secondary--color);
    border-radius: 5px;
    border-left: 5px solid var(--primary--color);
    transition: ease-in-out 0.6s;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    padding: 32px 25px;
    margin-bottom: 30px;
}

.our-menu-con .right-side .menu-box {
    border-right: 5px solid var(--primary--color);
    border-left: none;
}

.our-menu-con .menu-box img {
    border-radius: 100%;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    transition: ease-in-out 0.6s;
}

.our-menu-con .menu-box p {
    padding-right: 45px;
    font-size: 20px;
    line-height: 28px;
}

.our-menu-con .menu-box a {
    color: var(--accent--color);
    font-size: 20px;
    font-weight: 500;
}

.our-menu-con .menu-box a i {
    font-size: 15px;
}

.our-menu-con .menu-box .menu-content {
    margin-left: 28px;
}

.our-menu-con .menu-box:hover img {
    transform: translateY(-2px);
}

.our-menu-con .menu-box:hover .price {
    color: var(--accent--color);
}

.our-menu-con .menu-box:hover a {
    color: var(--primary--color);
}

.our-menu-con .secondary-button a {
    min-width: 192px;
}

.our-menu-con .menu-box:hover {
    border-color: var(--accent--color);
}

.our-menu-con .row {
    margin-bottom: 20px;
}

/* TESTIMONIALS SECTION */
.testimonials-con .testimonial-img-con .green-elipse {
    left: -90px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.testimonials-con .quote-icon {
    margin-bottom: 24px;
}

.owl-carousel .owl-nav button:focus,
.owl-carousel .owl-nav button:focus-visible {
    outline: none;
    box-shadow: none;
    border: none;
}

.owl-carousel .owl-item img {
    width: auto;
}

.testimonials-con .project-testimonial-content-con p {
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    margin-bottom: 25px;
}

.testimonials-con .owl-theme .owl-nav {
    text-align: left;
    transition: ease-in-out 0.6s;
    margin-left: 32px;
}

.testimonials-con .owl-theme .owl-nav button {
    transition: ease-in-out 0.6s;
}

.testimonials-con .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
}

.testimonials-con .owl-theme .owl-nav img {
    transition: ease-in-out 0.6s;
}

.testimonials-con .owl-theme .owl-nav .owl-prev,
.testimonials-con .owl-theme .owl-nav .owl-next {
    transition: ease-in-out 0.6s;
}

.testimonials-con .owl-theme .owl-nav .owl-prev img:hover {
    content: url('../images/left-hover-arrow.png');
}

.testimonials-con .owl-theme .owl-nav .owl-next img:hover {
    content: url('../images/right-hover-arrow.png');
}

.testimonials-con .project-testimonial-content-con {
    margin-left: 32px;
}

.testimonials-con .stars {
    margin-bottom: 12px;
}

.testimonials-con .project-testimonial-content-con .name {
    font-size: 22px;
}

.testimonials-con .project-testimonial-content-con .designation {
    font-size: 16px;
    margin-left: 8px;
}

/* RESERVE A TABLE */
.reserve-table-con form ul li {
    float: left;
    width: 31.5%;
    margin-right: 30px;
    margin-bottom: 30px;
}

.reserve-table-con form ul li:nth-child(3),
.reserve-table-con form ul li:nth-child(6) {
    margin-right: 0;
}

.reserve-table-con form ul li input {
    width: 100%;
    padding: 13px 19px;
    background-color: var(--secondary--color);
    border: none;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    color: var(--navy--family--color);
    border-radius: 5px;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
}

.reserve-table-con form ul li input:focus-visible,
.reserve-table-con form ul li textarea:focus-visible {
    border: none;
    outline: none;

}

.reserve-table-con form ul li input:focus,
.reserve-table-con form ul li textarea:focus {
    box-shadow: inset 0 1px 1px rgb(58 218 155 / 8%), 0 0 8px rgb(255 80 1 / 80%);
    border-color: 1px solid var(--accent--color);
}

.reserve-table-con form ul li:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.reserve-table-con form ul {
    margin-bottom: 45px;
}

.reserve-table-con .secondary-button button {
    min-width: 192px;
}

/* FOOTER SECTION */
.footer-con {
    background-image: url(../images/footer-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 265px;
}

.footer-con .span-heading {
    font-size: 25px;
    margin-bottom: 28px;
    font-weight: 700;
}

.footer-con .row {
    padding-bottom: 75px;
}

.footer-con span.sub-head {
    font-size: 18px;
    color: var(--blue--family--color);
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 3px;
}

.footer-con span.sub-head.days {
    font-weight: 600;
}

.footer-con .footer-inner-con p,
.footer-con .footer-inner-con a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--blue--family--color);
}

.footer-con .footer-inner-con a {
    position: relative;
}

.footer-con .footer-inner-con li {
    margin-bottom: 10px;
}

.footer-con .copyright-con p {
    color: var(--blue--family--color);
    font-size: 16px;
}

.footer-con .copyright-con {
    padding: 35px 0;
    justify-content: space-between;
}

.footer-con hr {
    border-top: 1px solid rgba(110 166 139 / 15%);
    margin: 0;
}

.footer-con .copyright-con .social-icons-con ul li a i {
    color: var(--blue--family--color);
    font-size: 16px;
    transition: ease-in-out 0.6s;
}

.footer-con .copyright-con .social-icons-con ul li {
    padding: 0 10px;
}

.footer-con .copyright-con .social-icons-con ul li:first-child {
    padding-left: 0;
}

.footer-con .copyright-con .social-icons-con ul li:last-child {
    padding-right: 0;
}

.footer-con .copyright-con .social-icons-con span.follow-us {
    color: var(--blue--family--color);
    margin-right: 17px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Barlow", sans-serif;
}

.footer-con .copyright-con .social-icons-con ul li a i:hover {
    color: var(--primary--color);
    transform: translateY(-2px);
}

.footer-con .footer-inner-con ul li a::after {
    left: 0;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    content: '';
    position: absolute;
    background: var(--primary--color);
    transition: ease-in-out 0.3s;
}

.footer-con .footer-inner-con ul li a:hover::after {
    width: 100%;
}

.footer-con .footer-inner-con ul li a:hover {
    text-decoration: none;
    color: var(--primary--color);
}

.footer-con .footer-inner-con.opening-hrz li {
    margin-bottom: 20px;
}

.footer-con .vector {
    right: 0;
    top: -140px;
}


/* ABOUT PAGE STYLING */
/* MEET OUR TEAM SECTION */
.meet-our-team-con .team-box img {
    margin-bottom: 32px;
    border-radius: 5px;
    transition: ease-in-out 0.6s;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
}

.meet-our-team-con .team-box {
    padding-bottom: 20px;
    transition: ease-in-out 0.6s;
    overflow: hidden;
    border-radius: 5px;
}

.meet-our-team-con .team-box:hover span {
    color: var(--accent--color);
}

.meet-our-team-con .col-lg-4.col-md-6 {
    margin-bottom: 30px;
}

.meet-our-team-con .col-lg-4.col-lg-6.col-md-6:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.meet-our-team-con .team-box span {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    color: var(--navy--color);
}

.meet-our-team-con .team-box:hover img {
    transform: scale(1.02);
}

/* OUR AWARDS SECTION  */
.our-awards-con img {
    transition: ease-in-out 0.6s;
}

.our-awards-con ul li:hover img {
    transform: translateY(-2px);
}

/* ABOUT PAGE OFFER SECTION */
.offer-best-way-con .offer-box {
    background-color: var(--secondary--color);
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    border-radius: 5px;
    padding: 35px 50px;
    transition: ease-in-out 0.4s;

}

.offer-best-way-con .offer-box:hover h4 {
    color: var(--accent--color);
}

.offer-best-way-con .offer-box img {
    margin-bottom: 20px;
    transition: ease-in-out 0.6s;
}

.offer-best-way-con .offer-box:hover img {
    transform: translateY(-3px);
}

/* video  */
.quality-items-con .video-inner-wrap {
    height: 526px;
}

.quality-items-con .video-inner-wrap::before {
    background: url(../images/video-img.jpg);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.quality-items-con .quality-content-con {
    padding-right: 50px;
}

.quality-items-con .quality-content-con h2 {
    margin-bottom: 23px;
}

.quality-items-con .quality-content-con p.last-text {
    margin-bottom: 32px;
}

/* SUB BANNER */
/* .sub-banner-wrapper {
    height: 779px;
} */

.sub-banner-wrapper::before {
    background-position: center;
    /* width: 744px; */
    width: 39%;
}

.sub-banner-con .sub-banner-img-con img {
    border-radius: 100%;
    border: 10px solid var(--secondary--color);
    box-shadow: 0 6px 38px rgb(213 213 243 / 60%);
}

.sub-banner-con {
    padding-top: 58px;
    padding-bottom: 90px;
}

.sub-banner-content-wrap p {
    font-size: 24px;
    line-height: 35px;
}

/* breadcrumb */

/* breadcrumb */

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active {
    color: var(--navy--color);
}

.breadcrumb-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Playfair Display", serif;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    border: none;
    transition: ease-in-out 0.6s;
    justify-content: center;
    margin-bottom: 16px;

}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--navy--color);
    font-family: "Playfair Display", serif;

}

.breadcrumb-item a:hover {
    color: var(--accent--color);
}


.breadcrumb-item+.breadcrumb-item::before {
    color: var(--navy--color);
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-size: 16px;
    padding: 0 10px;
    font-weight: 600;
}

.sub-banner-con .sub-vector {
    right: 0;
    bottom: 67px;
}

/* OUR MENU PAGE STYLING */
.discount-on-food-con {
    background-image: url(../images/discount-banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.discount-on-food-con .elementary-button.white-button {
    margin-right: 16px;
}

.discount-on-food-con .heading-title-con p {
    margin-bottom: 25px;
}

.discount-on-food-con .fifty-off .percentage {
    font-size: 54px;
    line-height: 40px;
}

.discount-on-food-con .fifty-off span {
    font-size: 26px;
}

.discount-on-food-con .fifty-off {
    right: -163px;
    top: -30px;
}

.discount-on-food-con .fifty-off::before {
    right: -51px;
    top: -38px;
    width: 213px;
    height: 172px;
    content: '';
    position: absolute;
    background-image: url(../images/cloud-vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.3s;
}

/* features dishes horizontal */

.featured-dishes-con.horizonal-listing .tabs-box ul li:has(a.active),
.featured-dishes-con.horizonal-listing .tabs-box ul li {
    border-left: none;
    padding: 0 16px 20px;
    border-bottom: 3px solid var(--white--family--color);
}

.featured-dishes-con.horizonal-listing .tabs-box ul li:has(a.active) {
    border-bottom: 3px solid var(--accent--color);
}

.featured-dishes-con.horizonal-listing ul {
    margin-bottom: 60px;
}

.featured-dishes-con.horizonal-listing .dish-content p {
    padding-right: 10px;
}

.featured-dishes-con.horizonal-listing .feature-dish-box {
    margin-bottom: 30px;
}

/* OUR GALLERY SECTION */
.our-gallery-con .col-lg-6.col-md-6,
.our-gallery-con .col-lg-4.col-md-4 {
    margin-bottom: 30px;
}

.our-gallery-con .gallery-img-con img {
    border-radius: 5px;
}

.our-gallery-con .gallery-img-con img {
    display: block;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.our-gallery-con .gallery-img-con img {
    transition: .4s ease-in-out;
}

.our-gallery-con .gallery-img-con img {
    transition: .4s ease-in-out;
}

.our-gallery-con .gallery-img-con:hover img {
    transform: scale(1.06);
}

/* .our-gallery-con .gallery-img-con a::before {
    content: "";
    background: url(../images/Plus-icon.png) no-repeat center;
    width: 91px;
    height: 91px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    display: none;
    transform: translate(-50%, -50%);
} */

.our-gallery-con .gallery-img-con a::after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/overlay3.png);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.our-gallery-con .gallery-img-con:hover a::before,
.our-gallery-con .gallery-img-con:hover a::after {
    display: block;
}

/*Image size and transition*/
.our-gallery-con .gallery-img-con a img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

/*Transform scale effect when you hover over*/
.our-gallery-con .gallery-img-con a.zoom:hover img {
    transform: scale(1.06);
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -moz-transform: scale(1.06);
}

.our-gallery-con .gallery-img-con {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

/*Zoom Button*/
#lightbox .modal-content {
    display: inline-block;
    text-align: center;
    background: none;
    border: none;
}

.modal-header {
    border: none;
}

.modal-body {
    padding: 0;
}

button.close:focus {
    outline: none;
    border: none;
}

button.close {
    border: 0;
    position: fixed;
    right: -20px;
    top: -20px;
    color: var(--secondary--color);
    background: var(--primary--color);
    opacity: 1;
    padding: 5px 16px 14px !important;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 32px;
    z-index: 2;
    font-weight: 300;
}

button.close span i {
    font-size: 20px;
}

button.close:hover {
    background: var(--accent--color);
    color: var(--secondary--color);
    opacity: 1;
}

.modal-dialog {
    max-width: fit-content;
    top: 20%;
    width: 55%;
}

.modal-content {
    height: 100vh;
    overflow: inherit;
}

.our-gallery-con .gallery-img-con .gallery-content {
    display: none;
    left: 30px;
    bottom: 42px;
}

.our-gallery-con .gallery-img-con .gallery-content h3 {
    margin-bottom: 15px;
}

.our-gallery-con .gallery-img-con .gallery-content p {
    font-size: 20px;
    line-height: 26px;
}

.our-gallery-con .gallery-img-con:hover .gallery-content {
    display: block;
}

.our-gallery-con .view-all-item-con .secondary-button a {
    min-width: 192px;
}

.our-gallery-con .view-all-item-con {
    margin-top: 58px;
}

.our-gallery-con .col-lg-6.col-md-6:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

/* CONTACT PAGE */
/* CONTACT FORM STYLING */


.reserve-table-con form ul li textarea {
    width: 100%;
    padding: 13px 19px;
    background-color: var(--secondary--color);
    border: none;
    height: 143px;
    font-size: 20px;
    font-weight: 400;
    color: var(--navy--family--color);
    border-radius: 5px;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
}

.reserve-table-con.contact-form-con form ul li:last-child {
    width: 100%;
}

.contact-info-con .white-box {
    padding: 50px;
    box-shadow: 0 6px 38px rgb(238 238 252 / 100%);
    border-radius: 5px;
    transition: ease-in-out 0.6s;
}

.contact-info-con .white-box img {
    margin-bottom: 25px;
    transition: ease-in-out 0.6s;
}

.contact-info-con .white-box h4 {
    margin-bottom: 18px;
}

.contact-info-con .white-box ul li {
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    color: var(--text--color);
}

.contact-info-con .white-box ul li a {
    color: var(--text--color);
    text-decoration: none;
}

.contact-info-con .white-box ul li a:hover {
    text-decoration: none;
    color: var(--accent--color);
}

.contact-info-con .white-box:hover img {
    transform: translateY(-3px);
}

/* map con */
.map-con {
    overflow: hidden;
    margin-bottom: -5px;
}

.map-con iframe {
    height: 675px;
    width: 100%;
}

.modal-open .modal {
    background: rgba(0, 0, 0, 0.6);
}