/*  */

/* .wrapper1400 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} */
/*  */

/* .wrapper1545 {
    max-width: 1545px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} */

.primary-button a,
.primary-button button {
    background-color: var(--primary--color);
    padding: 0;
    min-width: 150px;
    height: 53px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
}

.primary-button a:hover,
.primary-button button:hover {
    background-color: var(--accent--color);
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.secondary-button a,
.secondary-button button {
    background-color: var(--accent--color);
    padding: 0;
    min-width: 150px;
    height: 53px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    border: 1px solid transparent;
}

.secondary-button a:hover,
.secondary-button button:hover {
    background-color: var(--primary--color);
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.elementary-button a,
.elementary-button button {
    background-color: transparent;
    padding: 0;
    min-width: 150px;
    height: 53px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--navy--color);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    border: 1px solid var(--navy--color);
}

.elementary-button a:hover,
.elementary-button button:hover {
    background-color: var(--navy--color);
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.elementary-button.white-button a {
    border: 1px solid var(--secondary--color);
    color: var(--secondary--color);
}

.elementary-button.white-button a:hover {
    background-color: var(--secondary--color);
    color: var(--navy--color);
}


h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 77px;
    color: var(--primary--color);
    margin-bottom: 23px;
}

h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    color: var(--navy--color);

}

h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    /* color: var(--black--family2); */
}

h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--navy--color);
}

h4.special {
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    color: var(--navy--color);
    margin-bottom: 0;
}

h5.special {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}

.spacer {
    float: left;
    width: 100%;
    height: 100px;
}

.text-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.padding-top {
    padding-top: 140px;
}

.padding-bottom {
    padding-bottom: 140px;
}

.special-text {
    color: var(--primary--color);
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 6px;
    font-weight: 400;
}

.min-height-auto {
    min-height: auto !important;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-20 {
    font-size: 20px;
    line-height: 30px;
}

/* .gradient {
    background: linear-gradient(to right, #0f0fed 0%, #0ea6f5 100%);
} */


.background-f7f9ff {
    background-color: var(--bg--color);
}

.no-border-right {
    border-right: none !important;
}

.border-btm-none {
    border-bottom: none !important;
}

.navy-text {
    color: var(--navy--color);
}

.green-text {
    color: var(--primary--color);
}

.orange-text {
    color: var(--accent--color);
}

.playfair-font {
    font-family: "Playfair Display", serif;
}

.barlow-font {
    font-family: "Barlow", sans-serif;
}

.z-index-1 {
    z-index: 1;
}

.border-radius5 {
    border-radius: 5px;
}

.border-radius0 {
    border-radius: 0 !important;
}

.overflow-hidden {
    overflow: hidden;
}